@import '~antd/dist/antd.css';
@import 'mdbreact/dist/css/mdb.css';

html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a:hover{
  color:#ff8000
}
h1 {
  /* font-size: 1.8rem; */
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Home Screen */
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.image-pro {
  border-style: groove;
  border-radius: 5px;
  height: 37rem;
  width: 32rem;
  
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 34rem;
  max-height: 70rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.product-rating{
  margin-bottom: 1rem;
}
/* loading box vaf error box */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.error {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffffff;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color:#ffffff;
  cursor: pointer;
}
.sidebar{
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}

.sidebar-close-button{
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem
}
/* details product */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  widows: 100%;
  transition: all ls;
}
.details-info {
  flex: 1 1 30rem;
  overflow: hidden;
}
.details-action {
  flex: 1 1 30rem;
}
.details-info ul , .details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li , .details-action li {
  margin-bottom: 1rem;

}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
.form button{
  background-color: #8484df;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
.payment {
  text-align: center;
}