@import '~antd/dist/antd.css';
@import 'mdbreact/dist/css/mdb.css';

html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
/* body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
#root {
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
  height: 100%;
}
.brand a{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color:#ffffff;
  text-decoration: none;
  padding: 1rem;

}
.header-links a:hover{
  color:#ff8000;
}
.main{
  grid-area: main;
} */
a{
  text-decoration: none;
}
a:hover{
  color:#ff8000
}
/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.image-pro {
  border-style: groove;
  border-radius: 5px;
  height: 37rem;
  width: 32rem;
  
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 34rem;
  max-height: 70rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.product-rating{
  margin-bottom: 1rem;
}
/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color:#ffffff;
  cursor: pointer;
}
.sidebar{
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}

.sidebar-close-button{
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem
}
/* details product */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  widows: 100%;
  transition: all ls;
}
.details-info {
  flex: 1 1 30rem;
  overflow: hidden;
}
.details-action {
  flex: 1 1 30rem;
}
.details-info ul , .details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li , .details-action li {
  margin-bottom: 1rem;

}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.button-back {

  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 10px;
  border: none;
}
.button-back span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.button-back:before,
.button-back:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.button-back:before {
  height: 0%;
  width: 2px;
}
.button-back:after {
  width: 0%;
  height: 2px;
}
.button-back:hover {
  background: transparent;
  box-shadow: none;
}
.button-back:hover:before {
  height: 100%;
}
.button-back:hover:after {
  width: 100%;
}
.button-back span:hover{
   color: rgba(2,126,251,1);
}
.button-back span:before,
.button-back span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.button-back span:before {
  width: 2px;
  height: 0%;
}
.button-back span:after {
  width: 0%;
  height: 2px;
}
.button-back span:hover:before {
  height: 100%;
}
.button-back span:hover:after {
  width: 100%;
}
.details-action {
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8.0;
  padding: 1rem;

}
.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: .1rem #808080 solid;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #f0c040;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button:hover {
  border: .1rem #404040 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
.button.primary {
  background-color: #f0c040;
}